

.header__navigation {

    @media screen  and (min-width: 479px) {
        display: block;
          }
    
        @media screen  and (min-width: 768px) and (max-width: 1199px) {
            display: block;
            }
    
        @media screen  and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        border: 0;
                }

    

}

 /*  Навигация  в шапке */

.header__navigation-list {
    list-style-type: none; 

    @media screen  and (min-width: 479px) {
        display: none;
        }
    
        @media screen  and (min-width: 768px) and (max-width: 1199px) {
            position: absolute;
            top: 0%;
            left: 237px;
            width: 100%;
           
            
            display: flex;
            align-items: center;
            justify-content:flex-start;
            padding: 0;
            margin: 0;
    
     
        }
    
        @media screen  and (min-width: 1200px) {

            position: absolute;
            top: 0%;
            left: 237px;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content:flex-start;
            padding: 0;
            margin: 0;
          
        
           
        }
}


.header__navigation-item {
    margin-right: 50px; 
    position: relative;
    
    &:last-child {
        margin-right: 0px;
    }

    
}


.header__navigation-link {
    display: block;
    padding: 32px 0; 
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;  

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--blue);
    text-decoration: none;

}
}



.header__navigation-link--active {
    display: block;
    padding: 32px 0; 
    color: var(--blue);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none; 

    &::after {
        content: '';
    
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        
        display: block;
        background-color: var(--blue);
        border-radius: 2px;
    
    
    }
}

.header__button {
    
    @media screen  and (min-width: 479px) {
        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 40px;
        height: 40px;
        border: none;
        background-color: var(--white);
    
        .header__button .header__icon-menu {
            color:  #212121;
        }
    
        .header__button:hover .header__icon-menu,
        .header__button:focus .header__icon-menu {
            color: var(--blue);
        }
    
        .header__button .header__icon-menu-clossing {
        display: none;
        }
    
    .header__button--opening .header__icon-menu-clossing {
        display: block;
        fill:  #212121;
        
        .header__button--opening:hover,
        .header__button--opening:focus .header__icon-menu-clossing {
            fill: var(--blue);
        }
        }
    
    .header__button--opening .header__icon-menu {
        display: none;
        }

        }
    
        @media screen  and (min-width: 768px) and (max-width: 1199px) {
            display: none;  
     
        }
    
        @media screen  and (min-width: 1200px) {
            display: none;
              
        }

   
}

